name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Testing
      run: |
        if [ "$TESTING" == "true" ]
        then
          echo "testing in progress"
        fi
      env:
        TESTING: ${{ secrets.TESTING_IN_PROGRESS }}

    - name: Set up Qemu
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Quay.io
      uses: docker/login-action@v1
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_ROBOT_TOKEN }}

    - name: Build and push pgbouncer image
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: quay.io/opdev/pgbouncer:latest
